
.navbar__icon {
  font-family: poppins,sans-serif;
  font-size: 16px;
  display: flex;
}

.navbar__icon:before {
  content: "";
  display: inline-flex;
  height: 20px;
  width: 35px;
  margin-right: 4px;
  padding-bottom: 7px;
  background-color: var(--ifm-navbar-link-color);
}

.navbar__github{
  font-size: 16px;
}

.navbar__github:hover:before {
  background-color: var(--ifm-link-color);
}

.navbar__github:before {
  mask:  url(/static/img/icon-github-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 19px;
  width: 22px;
  padding-right: 1px;
  padding-bottom: 4px;
}

.navbar__rancher:hover:before {
  background-color: #2e68e9;
}
.navbar__rancher:before {
  mask: url(/static/img/icon-rancher-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 14px;
  padding-bottom: 2px;
  margin-top: 4px;
}

.navbar__rd:hover:before {
  background-color: #0081be;
}
.navbar__rd:before {
  mask: url(/static/img/icon-rd-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 22px;
}

.navbar__harvester:hover:before {
  background-color: #00a580;
}
.navbar__harvester:before {
  mask: url(/static/img/icon-harvester-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 22px;
}

.navbar__kubewarden:hover:before {
  background-color: #bc2a46;
}
.navbar__kubewarden:before {
  mask: url(/static/img/icon-kubewarden-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 22px;
}

.navbar__suse:hover:before {
  background-color: #30ba78;
}
.navbar__suse:before {
  mask: url(/static/img/icon-suse-mask.png) no-repeat 100% 100%;
  mask-size: cover;
  height: 15px;
  padding-bottom: 4px;
}