name: GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      dev_branch:
            description: 'Change the build branch for deployment to personal website for PR previewing'
            required: false
            default: 'main'
            type: string

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main docs repo
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.dev_branch }}

      - name: Enable Corepack for Modern Yarn
        run: corepack enable

      - name: Setup Yarn
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: yarn
      
      - name: Install dependencies
        run: yarn install --immutable

      - name: Build website
        if: ${{ github.repository_owner == 'rancher' }}
        run: yarn build
          
      # Developer build used for PR reviews, deploys website with with a custom `baseUrl` for previewing
      - name: Build website (dev)
        if: ${{ github.repository_owner != 'rancher' && github.event_name == 'workflow_dispatch' }}
        run: |
          echo "replacing baseUrl in docusaurus.config.js with ${{ github.event.repository.name }}"
          sed -i 's/baseUrl: '\''\//baseUrl: '\''\/${{ github.event.repository.name }}/' docusaurus.config.js
          yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Create build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build
  
  # Seperate the deploy job to isolate write permissions
  deploy:
    runs-on: ubuntu-latest
    needs: build

    # This is required to avoid https://github.com/actions/deploy-pages/issues/271
    environment:
      name: github-pages

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
      
